#infoMap{
	background-color:#84F1FF;
}

#map{
	height: 40vh;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0;
}

.fill-jumbotron{
height:100%;
background: url('../assets/images/city2.jpg') no-repeat center center;
}

.btn-submit{
	margin-top: 30px;
}

#mapsHead{
	font-family: 'Lobster', cursive;
	color:white;
}

.alert{
	margin-top:10px;
	margin-bottom: 0px;
}

.btn-form{
	margin-top:5px;
	margin-bottom:10px;
}
#alertCat{
	color:red;
}